* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.skill_page{
  height: 40rem;
}

.container {
  padding: 5px 0;
}

.skill_page .container{
  background: linear-gradient( to left, white 50%, #78A2DA 50%);
  /* -webkit-box-shadow: 0px 0px 19px -3px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 19px -3px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 19px -3px rgba(66, 68, 90, 1);
  */
  box-shadow: 0px 10px 24px -18px rgba(66, 68, 90, 1);
}

h2, h3 {
  font-size: 2rem; 
}

.front_back {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.front, .back {
  font-size: 1.5rem;
  
  border-radius: 10px;
  margin-bottom: 1rem; 
  padding: 1rem; 
  border-radius: 20px 20px 20px 20px;
}

.front:hover{
  -webkit-box-shadow: 31px 32px 16px -39px rgba(66, 68, 90, 1);
-moz-box-shadow: 31px 32px 16px -39px rgba(66, 68, 90, 1);
box-shadow: 31px 32px 16px -39px rgba(66, 68, 90, 1);
}
.back:hover{
  -webkit-box-shadow: 31px 32px 16px -39px rgba(66, 68, 90, 1);
  -moz-box-shadow: 31px 32px 16px -39px rgba(66, 68, 90, 1);
  box-shadow: 31px 32px 16px -39px rgba(66, 68, 90, 1);
}

/* front-end development icons */
.html_icon{
  margin-left: 6.2rem;
}
.css-icon{
  margin-left: 7.2rem;
}
.react_icon{
  margin-left: 4.5rem;
}
.javaScript_icon{
  margin-left: 1.8rem;
}
.vb-icon{
  margin-left: 0.5rem;
}

/* Backend development icons */
.sql-icon{
  margin-left: 4.8rem;
}
.mysql_icon{
  margin-left: 2.8rem;
}
.firebase_icon{
  margin-left: 1.5rem;
}
.java_icon{
  margin-left: 4.3rem;
}
.python_icon{
  margin-left: 1.7rem;
}
.cplus_plus_icon{
  margin-left: 4.6rem;
}
.front p, .back p {
  text-align: left; 
}
.sql-icon{

}

/* Media queries for responsiveness */
@media screen and (min-width: 768px) {
  .front_back {
    flex-direction: row; 
    justify-content: space-between; 
  }

  .front, .back {
    width: 45%; 
    border-radius: block;
  }
}
