* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .sec_3 .showRight_animate{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #78A2DA;
  transition: width 1s;
}

.sec_3.journey_animate .showRight_animate{
  width: 0;
} */

html {
  scroll-behavior: smooth;
  transition: 0.2s;
}
.journey_page{
  height: 50rem;
}
.container{
  padding: 5px 0;
  margin-top: -4rem;
}
/* .journey_page {
  background: linear-gradient( to left, white 50%, #9FC5F8 50%);
  box-shadow: 0px 0px 19px -3px rgba(66, 68, 90, 1);
} */

/* }
.journey_page{
  background: ;
}
.journey_page .container{
  /* -webkit-box-shadow: 0px 0px 19px -3px rgba(66, 68, 90, 1);
-moz-box-shadow: 0px 0px 19px -3px rgba(66, 68, 90, 1);
box-shadow: 0px 0px 19px -3px rgba(66, 68, 90, 1);
border-radius: 20px; 
}
.journey_page .container:hover{
  -webkit-box-shadow: 8px 11px 18px -6px rgba(66, 68, 90, 1);
-moz-box-shadow: 8px 11px 18px -6px rgba(66, 68, 90, 1);
box-shadow: 8px 11px 18px -6px rgba(66, 68, 90, 1);
} */
.journey_heading{
  font-size: 35px;
}
.journey_page {
    display: flex;
    padding: 30px 0;
    margin-top: 0px;
    overflow: hidden;
    justify-content: center;
    align-items: center;  
}
  .myjourney_list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 20px; 
  }
  .myjourney_list  {
    text-align: start;
    padding: 50 0;
    
   
  }
 
   .journey_page {
    margin: 10rem 0px 0px -0rem;
    font-size: 20px;
  }
  .myjourney_list div i{
    font-size: 15px;
    margin-bottom: 30px;
   
}

  .myjourney_list div {
    display: inline-block;
    list-style-type: none;
    margin: 0 20px;
    
  }
 
  p span{
    color: #9FC5F8;
  }
  
  div:nth-child(1) .myjourneylist {
    font-family: Verdana;

  }
  
  div:nth-child(2) .myjourneylist {
    font-family: Verdana;
  }
  
  .myjourney_list div:nth-child(3) .myjourneylist {
    font-family: Verdana;
  }
  
  .myjourneylist{
    position: relative;
    font-size: 17px;
    padding: 40px;
    border-radius: 15px;
    color: black;
    font-family: Verdana;
    font-weight:lighter;
    cursor: pointer;
    padding: 0;
  }
  
  @media only screen and (max-width: 543px) {
    .journey_page{
      height: 53rem;
    }
  }