*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.myjourney_page{
    height: 50rem;
}
.container{
    padding: 5px 0;
}

.myjourney{
    display: flex;
    column-gap: 5rem;
}

.journey_containers{
    border: 1px solid black;
    height: 100px;
    width: 100px;
}
.journey_description{
    border: 1px solid black;
    height: 100px;
    width: 100px;
}