*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.myjourney_page{
    height: 50rem;
}
.container{
    padding: 10px 0;
}

.myjourney{
    display: flex;
    column-gap: 2rem;
    margin-top: 3rem;
}

.journey_containers{
    display: flex;
    column-gap: 2.5rem;
    border: 1px solid black;
    height: 500px;
    width: 900px;
}
.journey_containers_1{

}
.journey_containers_2{
    margin-top: 4rem;
}
.container_one{
    text-align: start;
    padding: 5px;
    height: 200px;
    width: 400px;
    border-radius: 20px;
    background-color: #78A2DA;
}
.container_two{
    text-align: start;
    padding: 5px;
    height: 200px;
    width: 400px;
    margin-top: 2rem;
    border-radius: 20px;
    background-color: #78A2DA;
}
.container_three{
    text-align: start;
    padding: 5px;
    height: 200px;
    width: 400px;
    background-color: #78A2DA;
    border-radius: 20px;
}
.container_four{
    text-align: start;
    padding: 5px;
    height: 200px;
    width: 400px;
    margin-top: 2rem;
    border-radius: 20px;
    background-color: #78A2DA;
}
.journey_description{
    border: 1px solid black;
    height: 400px;
    width: 300px;
    border-radius: 10px;
    background-color: #78A2DA
}
.journey_description img{
    margin-top: 5rem;
    height: 300px;
    width: 300px;
    opacity: 0.4;
}

