*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.myjourney_page{
    height: 50rem;
}
.container{
    padding: 5px 5%;
}

.myjourney{
    display: flex;
    column-gap: 5rem;
    margin-top: 3rem;
}

.journey_containers{
    display: flex;
    column-gap: 3rem;
    border: 1px solid black;
    height: 500px;
    width: 650px;
}
.journey_containers_1{

}
.journey_containers_2{
    margin-top: 3rem;
}
.container_one{
    border: 1px solid black;
    height: 200px;
    width: 300px;
    border-radius: 20px;
}
.container_two{
    border: 1px solid black;
    height: 200px;
    width: 300px;
    margin-top: 2rem;
    border-radius: 20px;
}
.container_three{
    border: 1px solid black;
    height: 200px;
    width: 300px;
    border-radius: 20px;
}
.container_four{
    border: 1px solid black;
    height: 200px;
    width: 300px;
    margin-top: 2rem;
    border-radius: 20px;
}
.journey_description{
    border: 1px solid black;
    height: 300px;
    width: 300px;
}