* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* section .animate{
  
  transition: 1s;
  
}

.sec_2 .animate{
  transform: translateX(-100%);
}
.sec_2.show_animate .animate{
  transform: translateX(0);
} */

.page {
  margin-top: 0rem;
  height: 50rem;
 
}
.container {
  padding: 5px;

}

.about_myself {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.about_image img {
  width: 100%;
  height: 550px;
  margin-top: 1rem;
  margin-left: 1rem;
  background-color: #78A2DA;
  transition: transform 0.5s;
}
.about_image {
  border: 10px solid #78A2DA;
  height: 550px;
  margin-top: -1.5rem;
  
}

.about_paragraph {
  border-radius: 5px;
  text-align: start;
  margin-top: 0rem;
  font-size: 15px;
  font-weight: 100;
  font-family: Verdana, sans-serif;
  height: 250px;
}
.myboxes{
  display: grid;
  text-align: start;
  margin-top: 20px;
  align-content: center;
}
.boxes{
display: flex;
column-gap: 10px;
}
.boxes_1{
display: grid;
row-gap: 10px;

}
.boxes_2{
  display: grid;
  row-gap: 10px;
  
}
.boxes_3{
  display: grid;
}
.box_1{
  /* border: 1px solid black; */
  text-align: center;
  height: 200px;
  width: 200px;
  background-color: #78A2DA;
  border-radius: 10px;
}
.box_1:hover{
  box-shadow: 8px 8px 24px -5px rgba(66, 68, 90, 1);
}
.box_3{
  /* border: 1px solid black; */
  text-align: center;
  height: 200px;
  width: 200px;
  background-color: #78A2DA;
  border-radius: 10px;
}
.box_3:hover{
  box-shadow: 8px 8px 24px -5px rgba(66, 68, 90, 1);
}
.box_5{
  /* border: 1px solid black; */
  text-align: center;
  height: 200px;
  width: 200px;
  background-color: #78A2DA;
  border-radius: 10px;
}
.box_5:hover{
  box-shadow: 8px 8px 24px -5px rgba(66, 68, 90, 1);
}


.my_paragraph{
  margin-top: -0rem;
}
.wrapper {
  text-align: center; /* Center button */
}

.button {
  display: inline-block;
  text-align: center;
  background: #1a1e24;
  color: white;
  font-weight: medium;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-family: Montserrat, Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

@media only screen and (min-width: 768px) {
  .about_myself {
    flex-direction: row;
  }

  .about_image {
    flex-basis: 40%;
  }

  .about_paragraph {
    flex-basis: 60%;
  }
}

@media only screen and (max-width: 767px){
  .page{
    height: 50rem;
  }
}
@media only screen and (max-width: 425px){
  .page{
    height: 50rem;
  }
  .about_image{
    height: 350px;
  }
  .about_image img {
    width: 100%;
    height: 350px;
    margin-top: 1rem;
    margin-left: 1rem;
    background-color: #78A2DA;
    transition: transform 0.5s;
  }
}
 @media only screen and(max-width: 320px) {

  .about_image img{
    height: 300px;
  }
  
 }

/* .button:before,
  .button:after {
    width: 4.4em;
    height: 2.95em;
    position: absolute;
    content: "";
    display: inline-block;
    background: var(--color);
    border-radius: 50%;
    transition: transform 1s ease;
    transform: scale(0);
    z-index: -1;
  }
  
  .button:before {
    top: -25%;
    left: 20%;
  }
  
  .button:after {
    bottom: -25%;
    right: 20%;
  }
  
  .button:hover:before,
  .button:hover:after {
    transform: none;
  } */

/* img {
    height: 600px;
    width: 600px;
  }


  /* 
  img {
      --m:
        radial-gradient(circle farthest-side at right,#000 99%,#0000) 
          0 100%/46% 92% no-repeat,
        radial-gradient(circle farthest-side at left ,#000 99%,#0000) 
          100% 0/46% 92% no-repeat;
      -webkit-mask: var(--m);
              mask: var(--m);
      filter: grayscale(.5);
      transition: .5s linear;
      cursor: pointer;
    }
    img:hover {
      -webkit-mask-position: 7.5% 50%,92.5% 50%;
              mask-position: 7.5% 50%,92.5% 50%;
      filter: grayscale(0);
    } */
