* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  background-color: #9FC5F8;
}
/* section .animate{
  
  transition: 1s;
  
}

.sec_2 .animate{
  transform: translateX(-100%);
}
.sec_2.show_animate .animate{
  transform: translateX(0);
} */

.page {
  margin-top: 0rem;
  height: 50rem;
 
}
.container {
  padding: 10px 10%;

}

.about_myself {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.about_image img {
  width: 100%;
  height: 500px;
  margin-top: 1rem;
  margin-left: 1rem;
  background-color: #78A2DA;
  transition: 0.5s;
}
.about_image {
  border: 10px solid #78A2DA;
  height: 500px;
  margin-top: -1.5rem;
  
}
h2{
  font-size: 40px;
}
.about_paragraph {
  border-radius: 5px;
  text-align: start;
  margin-top: -1rem;
  font-size: 15px;
  font-weight: 100;
  font-family: Verdana, sans-serif;
}
.about_paragraph p{
  margin-top: 0rem;
}

.my_paragraph{
  margin-top: -0rem;
}
.services{
  border: 2px solid black;
  overflow: hidden;
  /* justify-content: center;
  align-items: center; */
  margin-top: 15px;
}

ul{
  padding: 0;
  margin: 10px;
}
li{
  display: inline-block;
  list-style-type: none;
  margin: 0 20px;
}
li:nth-child(1) .myservices {
    background: #9FC5F8;
  }
li:nth-child(2) .myservices {
  background: #9FC5F8;
  }
li:nth-child(3) .myservices {
  background: #9FC5F8;
  }

.myservices {
  position: relative;
  background: rebeccapurple;
  width: 160px;
  height: 140px;
  border-radius: 10px;
  border:1px solid  black;
  color: black;
  font-family: Verdana;
  font-weight: bold;
  font-size: 22px; /* Adjusted font size */
  cursor: pointer;
  padding: 3px; /* Adjusted padding */
}

h6{
  font-size: 13px;
  margin: 5px;
  text-decoration: underline;
}
h5{
  margin-top: 5px;
}
.myservices p{
  font-size: 10px;
  font-weight: 300;
  margin-top: -1px;
  text-align: start;
}

.myboxes{
  display: flex;
  column-gap: 3rem;
}
button{
  height: 50px;
  width: 150px;
  text-align: center; 
  margin-top: 3rem;
  background-color: white;
  border: 1px solid black;
  transition: .5s;
  cursor: pointer;
}

.learn_more button:hover{
  background-color: #9FC5F8;
  text-decoration: underline;
  transform: translate(10%);
border-radius: 10px;

}
.getin_touch button:hover{
  background-color: #9FC5F8;
  transform: scale(1.1);
  border-radius: 10px;
}




@media only screen and (min-width: 768px) {
  .about_myself {
    flex-direction: row;
  }

  .about_image {
    flex-basis: 40%;
  }

  .about_paragraph {
    flex-basis: 60%;
  }
}

@media only screen and (max-width: 767px){
  .page{
    height: 50rem;
  }
  
}
@media only screen and (max-width: 425px){
  .page{
    height: 50rem;
  }
  .about_image{
    height: 350px;
  }
  .about_image img {
    width: 100%;
    height: 350px;
    margin-top: 1rem;
    margin-left: 1rem;
    background-color: #78A2DA;
    transition: transform 0.5s;
  }
}
 @media only screen and(max-width: 320px) {

  .about_image img{
    height: 300px;
  }
  
 }
