* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#about{
  color: black;
  margin: 15px;
}
.container{
  padding: 10px 10%;
}
.row{
  display: flex;
  justify-content: space-between;
  position: relative;
}
.about-col-1{
  flex-basis: 40%;
}
.about-col-1 img{
  width: 100%;
  border-radius: 15px;
  background-color: #78A2DA;
}
.about-col-2{
  flex-basis: 55%;
}
.sub-title{
  font-size: 40px;
  font-weight: 400;
  color: black;
}
.tab-title{
  display: flex;
  margin: 20px 0 40px;
}
.tab-skill{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-skill::after{
  content: '';
  width: 0;
  height: 3px;
  background: black;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-skill.active-skill::after{
  width: 50%;
}
.tab-container ul li{
  list-style: circle;
  margin: 10px 0;
}
.tab-container ul li span{
  color: black;
  font-size: 14px;
}
.tab-container{
  display: none;
}
.tab-container.active-container{
  display: block;

}

@media only screen and (max-width: 650px) {

  .about-col-1, .about-col-2{
    flex-basis: 100%;    
}
.about-col-1{
    margin-bottom: 30px;
}
.about-col-2{
    font-size: 14px;
}
.tab-skill{
    font-size: 16px;
    margin-right: 10px;
}
}