footer {
    background-color: black;
    color: #9FC5F8;
    font-size: 20px;
    padding: 20px 0;
    text-align: center;
  }
  
  .container {
    max-width: 1200px;
    margin: 30px auto;
  }
   footer .container i{
    font-size: 30px;
    margin: 0 20px;
    color: #9FC5F8;
  }
  p {
    margin: 0;
  }