@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");


header {
  /* background-color: #141b25; */
  background-color: #78A2DA;
  width: 100%;

}

.main-nav {
  height: 90px;
  margin-top: -2rem;
}

.logo {
  color: black; 
  line-height: 90px;
  font-size: 30px;
  font-weight: 550;
  border-radius: 10px;
  border: 8px solid #9FC5F8;
  
  margin-left: -27rem;
  font-family: "AstroSpace", sans-serif;
}
.logo span{
    color: #9FC5F8;
    text-decoration: underline;
}

.navlinks {
  list-style: none;
  float: right;
  line-height: 90px;
  margin: 0;
  padding: 0;
}

.navlinks li {
  display: inline-block;
  margin: 0px 20px;
}

.navlinks li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s linear 0s;
  /* text-transform: uppercase;
} */
}

.navlinks li a:hover {
  color: black;
  padding-bottom: 7px;
  border-bottom: 2px solid #78A2DA;
}

li a.contact:hover {
  background-color: #78A2DA;
  color: white;
  border-bottom: none;
}

#check {
  display: none;
}

.menu-btn {
  font-size: 25px;
  color: black;
  float: right;
  line-height: 90px;
  margin-right: 40px;
  display: none;
  cursor: pointer;
}

@media (max-width: 800px) {
.logo{
   margin-left: -34rem;
}
  .navlinks {
    position: fixed;
    width: 50%;
    height: 70vh;
    text-align: center;
    transition: all 0.7s;
    right: -100%;
    background: white;
    box-shadow: 5px 5px 5px 5px #78A2DA;
    border-radius: 20px 0px 0px 20px;
  }

  .navlinks li {
    display: block;
  }

  .navlinks li a {
    font-size: 20px;
  }

  .navlinks li a:hover {
    border-bottom: none;
  }

  .menu-btn {
    display: block;
  }

  #check:checked ~ .navlinks {
    right: 0;
  }
}
@media screen and (max-width: 425px){
    .logo{
        margin-left: -15rem;
        font-size: 25px;
    }
}
@media (max-width: 375px){
    .logo{
        margin-left: -13rem;
        font-size: 25px;
    }
}
@media (max-width: 360px) {
  .logo {
    margin-left: 10px;
    font-size: 25px;
  }

  .menu-btn {
    margin-right: 10px;
    font-size: 25px;
  }

  .menu-btn:focus {
    color: blue;
  }
}
@media (max-width: 360px){
    .logo{
        margin-left: -10rem;
    }
}